<div class="header-card" [ngClass]="{'wrapper': !isTrain}">
  <div class="card">
    <img width="250px;" height="250px;" src="{{hero.img}}" class="card-img-top" alt="image of Hero">
    <div class="card-body">
      <h5 class="card-title text-center">{{hero.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Ability: {{hero.ability}}</li>
      <li class="list-group-item">Date started: {{hero.date_started | date}}</li>
      <li class="list-group-item">Starting power: {{hero.starting_power}}</li>
      <li class="list-group-item">Current power: {{hero.current_power}}</li>
      <li class="list-group-item">Trainer id: {{hero.trainer_id}}</li>
    </ul>

    <div class="card-body d-flex justify-content-center">
      <button class="btn"
        [ngClass]="{'btn-primary': isTrain, 'btn-secondary disabled': !isTrain }"
        (click)="isTrainer(hero, hero.current_power)">Start Training</button>
    </div>
  </div>