
#header{
    text-align: center ;
    margin-top: 150px;
    margin-bottom: 40px;
}

.contain{
    width: 300px;
    text-align: center;
    margin: auto;
}

.error {
    color: red;
    text-align: center;
}


.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    // margin-top: 20px;
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.form-group{
    margin-top: 17px;
}

input.ng-invalid {
    border: 1px solid red;
}

.asterix-required {
    color: red;
}