<h1 id="header" aria-label="">Welcome to our Heroes Company</h1>
<div class="contain">
  <div class="login-form">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" action="/examples/actions/confirmation.php" method="post">
      <h2 class="text-center">Log in</h2>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label"><span class="asterix-required">*&nbsp;</span>Email
          address</label>

        <input formControlName="email" type="text" class="form-control" placeholder="Email" required="required"
          [ngClass]="{'class': true}">
        <div *ngIf="userForm.controls['email']?.errors?.email && userForm.controls['email'].touched" class="error">
          Invalid email</div>
        <div *ngIf="userForm.controls['email']?.errors?.required && userForm.controls['email'].touched" class="error">
          Email is required</div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="form-label"><span
            class="asterix-required">*&nbsp;</span>Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password"
          required="required">
        <div *ngIf="userForm.controls['password']?.errors?.required && userForm.controls['password'].touched"
          class="error">Password is required</div>
        <div *ngIf="userForm.controls['password']?.errors?.pattern && userForm.controls['password'].touched"
          class="error">Enter a 8 digit, One capital letter, One alphanumeric</div>

      </div>
      <div class="form-group">
        <div *ngIf="loginFailed" class="alert alert-danger" role="alert">Email or password is incorrect</div>
        <button *ngIf="!userTrue" type="submit" class="form-control btn btn-primary btn-block"
          [ngClass]="{'disabled': !userForm.valid}" value="Log in">Log in</button>
          <button *ngIf="userTrue" (click)="logOut()" class="form-control btn btn-primary btn-block"
          [ngClass]="{'disabled': !userForm.valid}">Log out</button>
      </div>
    </form>
  </div>
</div>