 .container {
     h1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 40px;
      }
 }
 .bt{
    right: 0;
    position: fixed;
    padding-top: 4px;
 }
 .bts{
   left: 0;
   position: fixed;
   padding-top: 4px; 
 }
 .bts1{
   left: 0;
   position: fixed;
   padding-top: 4px; 
 }